{{>headerNav}}
<section class='level m-auto my-5'>
  <div class='container is-centered'>
    <div class='tile card is-ancestor has-background-info-dark'>
      <div class="tile is-parent is-vertical">
        <div class="box has-text-centered">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="/img/avatar.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content ">
            <div class="media-content has-text-centered block">
              <p class="title is-4 has-text-black">{{userData.first_name}} {{userData.last_name}}</p>
              <p class="subtitle is-6 has-text-black">{{userData.username}}</p>
              <div class="is-centered">
                <div class='buttons '>
                  <a href="/teams/{{userData.team_id}}" class='button has-background-info-dark has-text-white'>View
                    Team</a>
                  <a href="/teams/{{userData.team_id}}/tasks" class='button has-background-info-dark has-text-white'>All
                    Team Tasks
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-8 is-vertical is-parent">
        <div class="tile is-child box">
          <h1 class='box title is-3 has-text-white has-text-centered has-background-info-dark '>Team Member <br>
            Dashboard
          </h1>
          <div class="box has-background-warning ">
            <p class="is-size-5-mobile has-text-weight-bold">All Assigned Project Tasks</p>
            <div class="columns">
              <div class="column">
               <div class="tabs is-toggle is-fullwidth has-background-link-light mb-0 is-size-7-mobile is-size-7-tablet">
                  <ul>
                    <li class="table-btn is-active" data-id="all-tasks">
                      <a>
                        <p class="mr-1">{{userData.tasks.length}}</p>
                        <span>All</span>
                      </a>
                    </li>
                    <li class="table-btn" data-id="completed-tasks">
                      <a>
                        <p class="tag is-success mr-1  has-text-white ">{{completedTasks.length}}</p>
                        <span>Completed</span>
                      </a>
                    </li>
                    <li class="table-btn" data-id="in-progress-tasks">
                      <a>
                        <p class="tag is-warning mr-1 has-text-warning-white">{{inProgressTasks.length}}</p>
                        <span>InProgress</span>
                      </a>
                    </li>
                    <li class="table-btn" data-id="not-started-tasks">
                      <a>
                        <p class="tag is-danger mr-1 has-text-white">{{notStartedTasks.length}}</p>
                        <span>Not Started</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class=" box is-fluid">
                  <div class="column">
                    <table class="table employee-tasks-table is-scrollable is-hidden active" id="all-tasks">
                      <thead>
                        <tr class="is-size-7-mobile">
                          <th><abbr title="Position">Task ID</abbr></th>
                          <th>Task Title</th>
                          <th>Deadline Date</th>
                          <th>Task Status</th>
                        </tr>
                      </thead>
                      <tbody class="is-size-7-mobile">
                        {{#each userData.tasks as |task|}}
                        <tr>
                          <th>{{task.id}}</th>
                          <td>
                            <p>{{task.task_title}}</p>
                          </td>
                           <td>
                            {{formatDate task.task_deadline}}
                          </td>
                          <td>
                            <p>{{sanitiseStatus task.status}}</p>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<script src="/js/employeePg.js"></script>