{{>headerNav}}
<section class='hero m-auto is-large '>
  <div class='container is-fluid columns is-centered'>
    <div class='is-flex is-justify-content-space-evenly p-5 has-background-info-dark '>
      <div class="columns is-desktop">
        <div class="tile is-ancestor m-1">
          <div class="tile is-parent is-align-items-center">
            <div class="tile is-child box">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                  </figure>
                  <div class="file is-small is-right is-success">
                    <label class="file-label">
                      <input class="file-input" type="file" name="resume">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Small file…
                        </span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="card-content ">
                  <div class="media-content has-text-centered">
                    <p class="title is-4 has-text-black">{{userData.first_name}} {{userData.last_name}}</p>
                    <p class="subtitle is-6 has-text-black">@{{userData.username}}</p>
                    <div class="is-centered">
                      <div class='buttons '>
                        <a href="/teams/{{userData.team_id}}"
                          class='button has-background-info-dark has-text-white'>View Team</a>
                        <a href="/teams/{{userData.team_id}}/tasks"
                          class='button has-background-info-dark has-text-white'>All Team Tasks
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-8 is-vertical is-parent">
            <div class="tile is-child box">
              <h1 class='box title is-3 has-text-white has-text-centered has-background-info-dark '>Team Member
                Dashboard
              </h1>
              <div class="tile is-child box has-background-warning ">
                <p class="is-size-5">All Assigned Project Tasks</p>
                <div class="columns">
                  <div class="column">
                    <div class="tabs is-toggle is-fullwidth has-background-link-light mb-0">
                      <ul>
                        <li class="table-btn is-active" data-id="all-tasks">
                          <a>
                            <p class="mr-1">{{userData.tasks.length}}</p>
                            <span>All</span>
                          </a>
                        </li>
                        <li class="table-btn" data-id="completed-tasks">
                          <a>
                            <p class="mr-1 has-text-success ">{{completedTasks.length}}</p>
                            <span>Completed</span>
                          </a>
                        </li>
                        <li class="table-btn" data-id="in-progress-tasks">
                          <a>
                            <p class="mr-1 has-text-warning-dark">{{inProgressTasks.length}}</p>
                            <span>InProgress</span>
                          </a>
                        </li>
                        <li class="table-btn" data-id="not-started-tasks">
                          <a>
                            <p class="mr-1 has-text-danger">{{notStartedTasks.length}}</p>
                            <span>Not Started</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class=" box">
                      <div class="column is-align-items-center">
                        <table class="table employee-tasks-table is-scrollable is-hidden active" id="all-tasks">
                          <thead>
                            <tr>
                              <th><abbr title="Position">Task ID</abbr></th>
                              <th>Task Title</th>
                              <th>Task Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each userData.tasks as |task|}}
                            <tr>
                              <th>{{task.id}}</th>
                              <td>
                                <p>{{task.task_title}}</p>
                              </td>
                              <td>
                                <p>{{sanitiseStatus task.status}}</p>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        <table class="table employee-tasks-table is-scrollable is-hidden" id="completed-tasks">
                          <thead>
                            <tr>
                              <th><abbr title="Position">Task ID</abbr></th>
                              <th>Task Title</th>
                              <th>Task Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each completedTasks as |task|}}
                            <tr>
                              <th>{{task.id}}</th>
                              <td>
                                <p>{{task.task_title}}</p>
                              </td>
                              <td>
                                <p>{{sanitiseStatus task.status}}</p>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        <table class="table employee-tasks-table is-scrollable is-hidden" id="in-progress-tasks">
                          <thead>
                            <tr>
                              <th><abbr title="Position">Task ID</abbr></th>
                              <th>Task Title</th>
                              <th>Task Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each inProgressTasks as |task|}}
                            <tr>
                              <th>{{task.id}}</th>
                              <td>
                                <p>{{task.task_title}}</p>
                              </td>
                              <td>
                                <p>{{sanitiseStatus task.status}}</p>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        <table class="table employee-tasks-table is-scrollable is-hidden" id="not-started-tasks">
                          <thead>
                            <tr>
                              <th><abbr title="Position">Task ID</abbr></th>
                              <th>Task Title</th>
                              <th>Task Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each notStartedTasks as |task|}}
                            <tr>
                              <th>{{task.id}}</th>
                              <td>
                                <p>{{task.task_title}}</p>
                              </td>
                              <td>
                                <p>{{sanitiseStatus task.status}}</p>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/employeePg.js"></script>