{{>headerNav}}
<section class='hero m-auto is-large'>
  <div class='container is-fluid columns is-centered'>
    <div class='is-flex is-justify-content-space-evenly p-5 has-background-info-dark'>
      <div class="columns is-desktop">

        <div class="column ">
          <div class='card m-1'>
            <div class="card-content">
              <h1 class='box title is-3 has-text-black has-text-centered has-background-info-dark '>Project Team</h1>
              <div class="box has-background-warning">

                <div class="box ">

                </div>
              </div>
              <div class="box has-background-warning">

                <div class="box ">

                </div>
              </div>
              <div class="box has-background-warning">

                <div class="box ">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column ">
        <div class='card m-1'>
          <div class="card-content">
            <h1 class='box title is-3 has-text-black has-text-centered has-background-info-dark'>Team Statistics</h1>
            <div class="container ">
              <div class="tile is-child box has-background-warning ">
                <p class="is-size-5">Team Status</p>
                <div class="columns">
                  <div class="column">
                    <div class="tabs is-toggle is-fullwidth has-background-link-light mb-0">
                      <ul>
                        <li class="is-active has-text-weight-bold">
                          <a>
                            <p class="mr-1 all-tasks">{{teamTasksData.all}}</p>
                            <span>All</span>
                          </a>
                        </li>
                        <li>
                          <a>
                            <p class="mr-1 has-text-success completed">{{teamTasksData.completed}}</p>
                            <span>Completed</span>
                          </a>
                        </li>
                        <li>
                          <a>
                            <p class="mr-1 has-text-warning-dark in-progress">{{teamTasksData.in_progress}}</p>
                            <span>InProgress</span>
                          </a>
                        </li>
                        <li>
                          <a>
                            <p class="mr-1 has-text-danger not-started">{{teamTasksData.not_started}}</p>
                            <span>Not Started</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="piechart-container is-flex is-justify-content-center mt-3">
              <canvas class="piechart"></canvas>
            </div>
            <div class='field m-3 is-flex is-justify-content-center'>
              <a href="/teams/{{team.id}}/tasks" class='button is-link'>All Team Tasks</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script src="/js/manager.js"></script>